---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Clients & Collaborations">
  <main class="container">
    <section class="page-section">
      <h1>Clients & Collaborations</h1>

      <p>A selection of organisations I've worked with in a freelance or employed capacity:</p>

      <div class="clients-grid">
        <div>
          <h3>Digital Communities Ltd (Groop)</h3>
          <p>
            Full technical onboarding, infrastructure modernization and team development. See
            <a href="/groop-case-study">my case study</a> for more information.
          </p>
        </div>

        <div>
          <h3>Cat In A Flat</h3>
          <p>
            Full stack development on a successful B2C SaaS product, focusing on the Python backend
            and optimising geospatial queries using PostGIS
          </p>
        </div>

        <div>
          <h3>In a Box Services</h3>
          <p>
            Cloud Architecture and Development Consulting. Producing a proof-of-concept for
            migrating a legacy monolith to an event-driven architecture hosted on Azure Kubernetes
            Service.
          </p>
        </div>

        <div>
          <h3>EduTech Client</h3>
          <p>
            Migrating a legacy .NET API to GraphQL without changing the existing SQL Server database
            and preserving data and audit integrity using SCD2.
          </p>
        </div>

        <div>
          <h3>Macdonald Technology Consulting</h3>
          <p>
            Providing technical planning, MVP development, and architecture advisory services to
            startups and established businesses
          </p>
        </div>
      </div>
    </section>

    <section class="page-section">
      <p>
        If you'd like to find out how I can help your team, <a href="/contact">get in touch</a>.
      </p>
    </section>
  </main>
</Layout>
